.about {
  margin-top: 34px;
  margin-bottom: 60px;
  padding-right: 30px;
  padding-left: 30px;

  font-weight: 700;
  line-height: 20px;
}

.about__title {
  margin: 0;
  margin-top: 76px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  @include list-reset();
}

.about__item {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 85px;

  &::before {
    content: "";
    position: absolute;
    bottom: 50px;

    width: 60px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
  }
}

.about__item--eco {
  &::before {
    background-image: url("../img/icon-feature-flower.svg");
  }
}

.about__item--style {
  &::before {
    background-image: url("../img/icon-feature-money.svg");
  }
}

.about__item--like {
  &::before {
    background-image: url("../img/icon-feature-heart.svg");
  }
}

.about__item--manual {
  &::before {
    background-image: url("../img/icon-feature-ball.svg");
  }
}

.about__item--manufacter {
  &::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }
}

.about__item--present {
  &::before {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about {
    width: 100%;
    padding-right: 0;
    padding-left: 50px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
  }

  .about__item {
    width: 240px;
    padding-top: 110px;
  }
}

@media (min-width: $desctop-width) {
  .about {
    padding-right: 225px;
    padding-left: 225px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
}
