.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__info {
  width: 320px;
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__info-cell--name {
  width: 78px;
  margin: 0;
  padding: 0;

  font-weight: 400;
}

.contacts__map {
  margin-bottom: 39px;
}
