.container__header {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $tablet) {
    flex-direction: row;
    padding: 0 50px;
  }
}

.page-header__logo {
  z-index: 1;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 78px;
  padding-top: 22px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    position: absolute;

    justify-content: flex-start;
    width: 320px;

    text-align: start;
  }

  @media (min-width: $desktop) {
    justify-content: center;
    max-width: 200px;
    margin: 0;
    margin-left: 500px;
  }
}

.page-header__logo-img {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet) {
    width: 113px;
    height: 46px;
  }
}

.page-header__menu {
  position: relative;

  width: 100%;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__menu-toggle {
  position: absolute;
  top: -79px;
  right: 0;
  z-index: 1;

  width: 80px;
  height: 79px;

  font-size: 0;

  background: none;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &--open {
    background-image: url("../img/icon-menu-close.svg");
  }

  @media (min-width: $tablet) {
    display: none;
  }
}


.page-header__menu-list {
  display: none;
  width: 100%;

  @include list-reset();

  @media (min-width: $tablet) {
    z-index: 1;

    display: flex;

    border-top: 1px solid #ececec;
  }

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    width: 50%;
  }
}

.page-header__shopper-menu {
  display: none;

  @include list-reset();

  @media (min-width: $tablet) {
    display: flex;
    order: -1;
    min-height: 88px;
    padding-left: 320px;
  }

  @media (min-width: $desktop) {
    order: 0;
    padding-left: 0;
  }
}

.page-header__menu-item {
  height: 79px;
  margin: 0;
  padding: 0;

  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    height: 100%;
    margin-right: 30px;

    box-shadow: none;
  }

  @media (min-width: $desktop) {
    margin-right: 50px;
  }
}

.page-header__shopper-item {
  display: block;
  height: 79px;
  margin: 0;
  padding-top: 32px;
  padding-left: 76px;

  font-weight: 700;
  text-decoration: none;

  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet) {
    height: 100%;

    box-shadow: none;

    &--cart {
      width: 270px;
      padding-left: 83px;

      border-left: 1px solid #ececec;

      &:hover,
      &:focus {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

.page-header__menu-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;

  font-weight: 700;
  vertical-align: top;
  text-decoration: none;

  @media (min-width: $tablet) {
    padding-top: 18px;
    padding-left: 0;

    text-align: start;
  }

  @media (min-width: $desktop) {
    min-width: 175px;
    padding-top: 26px;
  }

  &:active {
    opacity: 0.3;
  }
}

// .page-header__shooper-link {

//   @media (min-width: $tablet) {
//     padding-bottom: 0;
//     padding-left: 0;

//     text-align: start;
//   }

//   @media (min-width: $desktop) {
//     text-align: end;
//   }
// }

.page-header__shopper-search {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;

  @media (min-width: $tablet) {
    width: 83px;
    padding: 0;

    text-align: center;

    border-left: 1px solid #ececec;
  }
}

.search-field__input {
  display: none;
}

.search-field__button {
  position: relative;

  @include btn-reset();

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;

    width: 19px;
    height: 19px;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    width: 100%;
    height: 100%;

    color: white;
    text-decoration: transparent;

    &::after {
      top: 35px;
      left: 32px;
    }
  }
}

.show-menu {
  @media (max-width: $tablet) {
    display: list-item;
  }
}
