.page-main {
  width: 320px;
  margin: 0;
  padding: 0;
}

.page-main__header {
  width: 100%;
  height: 285px;

  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: -127px -16px;
}

.page-main__header--catalog {
  background-color: #f1f1f1;
  background-image: none;
}

.page-main__header-title {
  margin: 0;
  padding-top: 72px;
  padding-right: 38px;
  padding-bottom: 0;
  padding-left: 38px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #010000;
}

.page-main__header-top {
  position: absolute;
  top: 25px;

  display: none;
  padding-right: 50px;
}

.page-main__nav-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-main__categories-list {
  width: 100%;

  @include list-reset();
}

.page-main__categories-item {
  position: relative;

  width: 100%;
  height: 103px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  background-color: #63d1bb;
}

.page-main__categories-link {
  display: inline-block;
  padding-top: 24px;
  padding-right: 185px;
  padding-left: 30px;

  vertical-align: top;
}

.page-main__categories-item--interior {
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.page-main__categories-item--toys {
  background-color: #56c3b2;

  &::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.page-main__product-card {
  position: relative;

  margin-top: 26px;
  // margin-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    bottom: -52px;
    left: 0;

    width: 100%;
    height: 17px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.page-main__about-item {
  margin-top: 69px;
}

.page-main__reviews {
  position: relative;

  margin-top: -28px;
  margin-bottom: 87px;

  &::after {
    content: "";
    position: relative;
    bottom: -52px;
    left: 0;

    width: 100%;
    height: 17px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 768px;
    margin-top: -88px;
  }

  .page-main__header {
    position: relative;

    height: 746px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: -191px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;

      width: 100%;
      height: 34px;

      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .page-main__product-card {
    &::after {
      content: "";
      position: absolute;
    }
  }

  .page-main__header--catalog {
    height: 226px;

    background-color: #f1f1f1;
    background-image: none;
  }

  .page-main__header--catalog .page-main__header-title {
    padding-top: 106px;
  }


  .page-main__header-title {
    padding-top: 160px;

    font-size: 43px;
    line-height: 50px;
  }

  .page-main__header-top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .page-main__nav {
    display: none;
  }

  .info-delivery {
    margin: 0;
    // padding: 0;
  }

  .page-main__categories-list {
    display: flex;
    margin-top: -120px;
  }

  .page-main__contacts {
    width: 100%;
    margin-top: 45px;
  }

  .catalog-content {
    width: 100%;
    max-width: 778px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desctop-width) {
  .page-main {
    width: 100%;
    max-width: 1150px;
    margin-top: 0;
  }

  .page-main__header-top {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
  }

  .page-main__nav {
    display: flex;

    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }

  .page-main__nav-item {
    min-width: 175px;
    padding-right: 60px;
  }

  .info-delivery {
    position: relative;
    top: 0;

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }

  .page-main__header-title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__header {
    width: 100%;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 0 0;
  }

  .page-main__categories-list {
    width: 100%;
    padding: 0 50px;
  }

  .page-main__categories-item {
    font-size: 20px;
    line-height: 30px;
  }

  .page-main__product-card {
    &::after {
      position: relative;

      width: 100%;
      height: 17px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .page-main__contacts {
    margin-top: 82px;
  }

  .page-main__header--catalog {
    height: 255px;

    background-color: #f1f1f1;
    background-image: none;
  }

  .catalog-content {
    width: 100%;
    max-width: 1200px;
    margin-top: 111px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .catalog__item {
    margin-left: 50px;
  }

  .catalog__item:first-child {
    margin-left: 0;
  }

  .catalog-content__made-info {
    width: 1050px;
  }
}
