.product-snippet {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 27px;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet) {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 334px;
    margin-bottom: 54px;

    border: 1px solid #ececec;
    border-right: none;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 314px;
    height: 100%;
  }
}

.product-snippet__title {
  font-weight: 700;
  padding: 0 28px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-top: 27px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    margin: 0;
    margin-top: 29px;
    margin-bottom: 15px;

    font-size: 20px;
  }

  @media (min-width: $desktop) {
    margin-top: 29px;
    margin-bottom: 15px;
    padding-left: 28px;
  }
}

.product-snippet__image {
  order: -3;
  width: 260px;
  height: 195px;

  @media (min-width: $tablet) {
    order: -1;
    width: 334px;
    height: 100%;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.product-snippet__descr {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  padding: 0 28px;
  margin: 0;
  margin-top: 4px;

  @media (min-width: $tablet) {
    margin: 0;
    margin-bottom: 200px;

    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    padding-left: 28px;
  }
}

.product-snippet__price {
  position: relative;
  font-weight: 700;
  font-size: 15px;
  padding: 0 28px;
  margin: 0;
  margin-top: 41px;
  width: 150px;

  &::after {
    content: "";
    position: absolute;
    width: 204px;
    height: 1px;
    top: -22px;
    left: 28px;

    background-color: #ececec;
  }

  @media (min-width: $tablet) {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 29px;
    padding-left: 28px;
  }
}

.product-snippet__button {
  width: 20px;
  height: 20px;
  margin-top: 42px;
  margin-right: 28px;

  font-size: 0;

  &:hover svg,
  &:focus svg {
    fill: #63d1bb;
  }

  &:active svg {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    position: absolute;
    right: 32px;
    bottom: 15px;
  }

  @media (min-width: $desktop) {
    bottom: 29px;
  }
}
