.product-card {
  padding: 0 30px;
}

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.product-card__icon {
  margin: 0;
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-card__descr {
  margin: 0;
  margin-bottom: 25px;

  font-size: 15px;
  color: #444444;
}

.product-card__params {
  margin-bottom: 42px;

  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.product-card__cell {
  width: 93px;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;

  text-align: left;
}

.product-card__cell--value {
  width: 160px;
}

.product-card__image {
  margin-top: -22px;

  background-color: #f1f1f1;
}

.product-card__price {
  height: 30px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 20px;

  font-weight: 700;
  text-align: center;
  color: #444444;
}

.product-card__button {
  height: 52px;
  padding-top: 14px;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;

    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }

  .product-card__header {
    display: flex;
    justify-content: space-between;
    margin-right: 28px;
    margin-bottom: 49px;
  }

  .product-card__title {
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .product-card__icon {
    width: 70px;
    margin: 0;
    margin-top: 12px;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .product-card__descr {
    width: 282px;
    margin-bottom: 45px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-card__params {
    width: 300px;
    margin-bottom: 50px;
  }

  .product-card__cell--name {
    width: 74px;
  }

  .product-card__image {
    position: absolute;
    top: 130px;
    right: 50px;

    width: 333px;
    height: 404px;
  }

  .product-card__price {
    width: 300px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 20px;
    line-height: 24px;
  }

  .product-card__button {
    width: 290px;
    padding-left: 0;

    text-align: center;
  }
}

@media (min-width: $desctop-width) {
  .product-card {
    padding: 0;
    padding-right: 50px;
    padding-left: 50px;
  }

  .product-card__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .product-card__title {
    margin-left: 175px;

    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .product-card__icon {
    position: absolute;
    left: 85px;

    width: 80px;
    padding-top: 6px;
  }

  .product-card__descr {
    margin-top: 52px;
    margin-left: 175px;
  }

  .product-card__params {
    margin-top: 67px;
    margin-left: 175px;
  }

  .product-card__price {
    margin-top: 97px;
    margin-left: 175px;
  }

  .product-card__button {
    margin-left: 175px;
  }

  .product-card__image {
    top: 52px;
    right: 50px;
    z-index: -1;

    width: 525px;
    height: 636px;
  }
}
