.reviews {
  width: 320px;
  padding-right: 30px;
  padding-left: 30px;
}

.reviews__slider {
  margin-bottom: 38px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 38px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 40px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  line-height: 24px;
}

.reviews__name {
  margin: 0;
  margin-bottom: 6px;
}

.reviews__nick {
  margin: 0;

  line-height: 30px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;

      width: 350px;
      height: 457px;

      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .reviews__title {
    order: -1;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    width: 100%;
    margin-bottom: 68px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__nick {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }

  .reviews__feedback-button {
    order: -1;
    width: 175px;
    height: 52px;
    padding: 0;
    padding-top: 12px;

    text-align: center;
  }
}

@media (min-width: $desctop-width) {
  .reviews {
    width: 100%;
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .reviews__title {
    padding-left: 175px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__slider {
    padding-left: 175px;
  }

  .reviews__text {
    margin-bottom: 49px;
  }
}
