

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include list-reset();
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;

  font-size: 0;
  vertical-align: top;

  background-repeat: no-repeat;
  background-position: center;
}

.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
}

.social__link--instagramm {
  background-image: url("../img/icon-insta.svg");
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

@media (min-width: $tablet-width) {
  .social__list {
    justify-content: space-between;
  }
}

@media (min-width: $desctop-width) {
  .social__list {
    justify-content: center;
  }

  .social__item {
    margin-right: 20px;
    margin-left: 20px;
  }
}
